* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
 font-family: 'Inconsolata', monospace;
   display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fee7fe ;
}

.container 
{
   border: 10px solid  #742dd2 ; 
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#5f04c8;
  font-size:50px;
  border-radius: 50%;
  background:#efb1ff;
}

.blink-colon 
{
  animation: blink 1s infinite;
}

@keyframes blink 
{
  0%, 100% {
    opacity: 1;
  }
  30% {
    opacity: 0.4;
  }
}

.date-container 
{
  margin-top: 6px;
  font-size: 18px;
  color:   #3d0099;
}

.intro-container 
{
  margin-top: 10px;
  font-size: 13px;
  color:   #F40633;
}
